Загружаем все необходимые библиотеки

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

Загружаем датасет homework

In [2]:
df = pd.read_csv('homework.csv')

Оценим датасет

In [3]:
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID         333 non-null int64
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

Мы видим, что в датасете нет пустых значений, а все типы данных состоят из float и int  
Датасет можно считать приемлемым для работы

Выделим независимую и переменную части нашего датасеты

In [5]:
df_x = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']]
df_y = df['medv']

Приводим данные к одному масштабу

In [6]:
sc = StandardScaler()
df_x_train = pd.DataFrame( sc.fit_transform(df_x), columns=df_x.columns )

df_x_train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,-0.456875,0.322906,-1.285631,-0.25278,-0.166787,0.440154,-0.107736,0.192133,-0.98907,-0.664062,-1.465171,0.432990,-1.067772
1,-0.454016,-0.472123,-0.604425,-0.25278,-0.767928,0.221060,0.379963,0.635528,-0.87451,-0.980620,-0.301616,0.432990,-0.478299
2,-0.453327,-0.472123,-1.304235,-0.25278,-0.863762,1.041952,-0.798347,1.189127,-0.75995,-1.097863,0.117264,0.406733,-1.356840
3,-0.448330,-0.472123,-1.304235,-0.25278,-0.863762,1.253933,-0.499320,1.189127,-0.75995,-1.097863,0.117264,0.432990,-1.018177
4,-0.445709,0.079980,-0.489936,-0.25278,-0.288758,-0.360821,-0.057898,0.935505,-0.53083,-0.576130,-1.511713,0.417953,-0.012106

Разделяем датасет на обучающую и проверочную части

In [7]:
train = train_test_split(df_x_train, df_y, test_size=0.2)

x_train = train[0]
x_test = train[1]
y_train = train[2]
y_test = train[3]

x_train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
201,-0.444114,1.029598,-0.744673,-0.252780,-1.081567,1.019189,-1.798665,0.900725,-0.301709,-0.470611,-1.092833,0.358153,-1.084776
110,-0.250819,-0.472123,1.185888,3.956008,0.416929,3.000996,0.913941,-0.782517,-0.530830,-0.036810,-1.744424,0.335251,-1.302994
196,-0.446478,-0.472123,0.375882,-0.252780,-1.046718,-0.197211,-1.773746,0.906286,-0.645390,-0.705098,-1.139375,0.432990,-0.557651
232,-0.453787,1.294608,-1.437328,-0.252780,-1.116415,0.958013,-1.200610,2.569156,-0.989070,-0.435438,0.582686,0.351444,-0.938825
17,-0.327544,-0.472123,-0.451297,-0.252780,-0.166787,-0.311027,0.732388,0.375840,-0.645390,-0.599579,1.187734,-0.614035,0.675139

Перейдем к машинному обучению

## Линейная регрессия:

In [8]:
linear = LinearRegression()
linear.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [9]:
print("""
Линейная регрессия

MSE — {mse}
R2 — {r2}
MAE — {mae}
""".format(
    mse=mean_squared_error(y_test, linear.predict(x_test)),
    r2 = r2_score(y_test, linear.predict(x_test)),
    mae = mean_absolute_error(y_test, linear.predict(x_test))
))

Линейная регрессия

MSE — 12.925497147670379
R2 — 0.7797977359563586
MAE — 2.8578836945942356

## Опорные вектора:

In [10]:
svr = SVR()
svr.fit(x_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [11]:
print("""
Опорные вектора

MSE — {mse}
R2 — {r2}
MAE — {mae}
""".format(
    mse = mean_squared_error(y_test, svr.predict(x_test)),
    r2 = r2_score(y_test, svr.predict(x_test)),
    mae = mean_absolute_error(y_test, svr.predict(x_test))
))

Опорные вектора

MSE — 14.095833009208967
R2 — 0.7598595777982632
MAE — 2.716747386418112

## Деревья регрессии:

In [12]:
regressor = DecisionTreeRegressor()
regressor.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [13]:
print("""
Деревья регрессии

MSE — {mse}
R2 — {r2}
MAE — {mae}
""".format(
    mse = mean_squared_error(y_test, regressor.predict(x_test)),
    r2 = r2_score(y_test, regressor.predict(x_test)),
    mae = mean_absolute_error(y_test, regressor.predict(x_test))
))

Деревья регрессии

MSE — 13.398059701492539
R2 — 0.7717470325238303
MAE — 2.753731343283582